<h3><%= l(:budget_title) %></h3>
<% form_tag do %>
  <label for="year">Fiscal Year:</label>
  <%= select_tag :year, options_for_select([['2010/2011', '2011-03-31'], ['2009/2010', '2010-03-31']]) %> 
  <input type="submit" value="Go">
<% end %>
<br />
<%= link_to(l(:label_new_deliverable), :controller => 'deliverables', :action => 'new', :id => @project.id) if allowed_management? %><br />
