<style>
  table.deliverables th { text-align: left; }
</style>

<div id="budget-list">
  <%= render :partial => 'list', :locals => {:deliverables => @deliverables} %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'deliverables/sidebar' %>
<% end %>

