<h2 id="menu">
  <a href="/timesheet/daily"><%= l(:day_by_day_report) %></a> | 
  <a href="/timesheet/report"><%= l(:activity_report) %></a> | 
  <a href="/timesheet/projects"><%= l(:projects_report) %></a> | 
  <a href="/timesheet/agreements"><%= l(:agreements_report) %></a> | 
  <a href="/timesheet/delinquency"><%= l(:delinquency_report) %></a>
</h2>
