<table class="list issues">
  <thead>
    <th><%= l(:label_date) %></th>
    <th><%= l(:label_member) %></th>
    <th><%= l(:label_project) %></th>
    <th><%= l(:label_issue) %></th>
    <th><%= l(:field_comments) %></th>
    <th><%= l(:field_hours) %></th>
    <th></th>
  </thead>
  <tbody>
    <%= render :partial => "time_entry", :collection => entry[:logs] %>
  </tbody>
</table>
<br />
