<table class="list issues">
  <thead>
    <th><%= l(:label_date) %></th>
    <th><%= l(:label_member) %></th>
    <th><%= l(:label_project) %></th>
    <th><%= l(:label_issue) %></th>
    <th><%= l(:field_comments) %></th>
    <th><%= l(:field_hours) %>
    <%= Redmine::Hook.call_hook(:plugin_timesheet_views_timesheet_group_header, { }) %>
  </thead>
  <tbody>
    <%= render :partial => "time_entry", :collection => entry[:logs] %>
  </tbody>
</table>
<br />
