<%= render :partial => 'menu' %>
<%= render :partial => 'form' %>

<% content_for(:header_tags) do %>
<%= javascript_include_tag 'timesheet', :plugin => "redmine_w3h" %>
<%= stylesheet_link_tag "timesheet.css", :plugin => "redmine_w3h", :media => 'all' %>
<% end %>
