<% content_for(:header_tags) do %>
<%= javascript_include_tag 'timesheet', :plugin => "timesheet_plugin" %>
<%= stylesheet_link_tag "timesheet.css", :plugin => "timesheet_plugin", :media => 'all' %>
<% end %>

<h2><%= l(:timesheet_title)%></h2>

<%= render :partial=> 'form' %>

<% @timesheet.users.each do |u| %>
   <h3> <%= h u.name -%> </h3> 
<% end -%>

