<h3><%= l(:label_calendar) %></h3>

<% calendar = Redmine::Helpers::Calendar.new(Date.today, current_language, :month); calendar.events = [] %>
<%= render :partial => 'common/calendar', :locals => {:calendar => calendar } %>
