div#timesheet-form p { padding:0px 10px; float:left; }
.icon-timesheet { background-image: url(../../../images/csv.png); }

div#toggle-form, div#controls { font-size: 18px; width: 100; text-align: center; }
div#controls { padding: 10px; }
a { cursor: pointer; }
table.list th { background: #fff; font-size: 24px; }
tr.time_entry.odd th { background: #ddd; }
tr.deliverable, tr.activity, tr.user { cursor: pointer; font-weight: bold; }

tr.deliverable td {
  font-size: 18px;
}

tr.deliverable td.first {
  padding-left: 10px;
}

tr.activity td.first {
  padding-left: 20px;
}

tr.user td {
  white-space: auto;
  width: auto;
  font-size: 24px; 
}

td.good { color: green; }
td.bad { color: red; }

tr.deliverable_end, tr.user_end { height: 15px; }


img.gravatar { padding: 0; margin-bottom: -5px; }

div.totals {
  background-image:url('../images/header.png');
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 10px 10px 10px; 
  border: 1px solid #dddddd;
  font-style: none;
}

#date-options { margin-left: 10px; }
#date-options input[type='radio'] { margin-left: -20px; }

div.logged-time {
  background:#ffc; 
  padding: 6px; 
  margin-bottom:6px;
  border: 1px solid #d7d7d7; 
  width: 80%; 
  height: 30px; 
  float: left;
  text-align: center;
}

p.day-num { float: right; }

div.logged-time.delinquent{background: #ffc;}
div.logged-time.overtime{background: #cfc;}
div.issue img.gravatar { padding: 0; }
table.cal td.today { background: none; }
div.issue.closed { background: #cfc; }
div.issue.overdue { background: #fcc; }
