div#timesheet-form p { padding:0px 10px; float:left; }
.icon-timesheet { background-image: url(../../../images/csv.png); }

div.totals {
  background-image:url('../images/header.png');
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 10px 10px 10px; 
  border: 1px solid #DDDDDD;
  font-style: none;
}

div.logged-time {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}
div.logged-time.delinquent{background: #ffeeee;}
div.logged-time.overtime{background: #eeffee;}
div.issue img.gravatar { padding: 0; }
table.cal td.today { background: none; }
div.issue.closed { background: #eeffee; }
div.issue.overdue { background: #ffeeee; }
