div#timesheet-form p { padding:0px 10px; float:left; }
.icon-timesheet { background-image: url(../../../images/csv.png); }

table.list tbody.user th { background: #fff; font-size: 24px; }
tbody.time_entries tr.even th { background: #fff; }
tbody.time_entries tr.odd th { background: #F6F7F8; }
tr.deliverable, tr.activity, tr.snowcone { cursor: pointer; font-weight: bold; }

tr.deliverable {
  font-size: 18px;
}

tr.snowcone {
  font-size: 24px; 
}

tbody.deliverable_end, tbody.user_end { height: 15px; }


img.gravatar { padding: 0; margin-bottom: -5px; }

div.totals {
  background-image:url('../images/header.png');
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 10px 10px 10px; 
  border: 1px solid #DDDDDD;
  font-style: none;
}

#date-options { margin-left: 10px; }
#date-options input[type='radio'] { margin-left: -20px; }

div.logged-time {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}
div.logged-time.delinquent{background: #ffeeee;}
div.logged-time.overtime{background: #eeffee;}
div.issue img.gravatar { padding: 0; }
table.cal td.today { background: none; }
div.issue.closed { background: #eeffee; }
div.issue.overdue { background: #ffeeee; }
